@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model IEnumerable<MVCandUnityDI.Repository.Product>



<table>

    <thead>
        <tr>

            <td>ID</td>
           
            <td>NAME</td>
            
            <td>CATEGORY</td>
            
            <td>Price</td>


        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Category
                </td>

                <td>
                    @item.Price
                </td>

            </tr>
        }




    </tbody>


</table>